.update_pass_outer .update_inner .forget{
    /* border: 2px solid red; */
    margin-top: 0.5rem;
    text-align: right;
}
.update_pass_outer .update_inner .forget a{
    margin-right: 1rem;
    color: #BDBDBD;
    text-shadow: 0 0 15px #1313c1;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
    font-size: smaller;
    font-weight: 500;
}
.update_pass_outer .update_inner .forget a:hover{
    color: rgb(16, 66, 84);
}