* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.admin_nav {
    /* background-color: red; */
    width: 10%;
    height: 90vh;
    position: absolute;
    /* top: 10.1%; */
    left: 0;
    /* border: 2px solid rebeccapurple; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin_nav nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin_nav nav ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.admin_nav nav ul li{
    list-style: none;
}